body, html {
    box-sizing: border-box;
}

body, html, .cover {
    height: 100%;
    width: 100%;
    font-family: 'Dosis', sans-serif;
}

h3, .cover, .name, .contact-info {
    font-family: 'Bad Script', cursive;
}

.parallax {
    /* The image used */
    background-image: url('img/nyc.jpg');

    /*opacity: .6;*/

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    background: turquoise; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,rgba(6,91,101,0.9), rgba(114,18,68,0.9)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(6,91,101,0.9), rgba(114,18,68,0.9)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(6,91,101,0.9), rgba(114,18,68,0.9)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(6,91,101,0.9), rgba(114,18,68,0.9)); /*Standard*/

    opacity: .9;

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-projects {
    /* The image used */
    background: turquoise; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,rgba(0,118,127,0.9), rgba(83,43,191,0.7)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(0,118,127,0.9), rgba(83,43,191,0.7)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(0,118,127,0.9), rgba(83,43,191,0.7)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(0,118,127,0.9), rgba(83,43,191,0.7)); /*Standard*/

    opacity: .9;

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.name, .occupation {
    font-size: 50px;
    color: #fff;
    background-color: black;
    /*width: 33%;*/
    text-align: center;
    /*padding-left: 8%;*/
    opacity: .5;
}

.occupation {
    font-size: 25px;
}

.section {
    padding: 0;
}

.self-pic {
/*    width: 40%;
    height: 30%;
    margin: 0 auto;
    padding-top: 5%;*/
}

.container-fluid {
    display: flex;
    text-align: center;
}

.projects-title {
    position: fixed;
    top: 40%;
    right: 0;
    left: 0;
    margin: 5% auto;
    /*font-size: 50px;*/
    /*text-align: center;*/
    /*color: #000;*/
    display: none;
}

.imgs {
    /*width: 25%;*/
    margin: 0 auto;
    height: 25%;
}

.background1 {
    background-color: #32B29B;
    opacity: .8;

}

.background2 {
    background-color: #3293B2;
    opacity: .8;
}

.project {
    padding: 5%;
    color: #000;
    font-weight: bold;
    height: 100vh;
    overflow: hidden;
}

#background1 {
    /*background-image: url("img/map-mobile-lg.png");*/
    background: #065B65;

    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background2 {
    /*background-image: url("img/arcade-mobile-lg.png");*/
    background: #721244;

    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background3 {
    /*background-image: url("img/sul-mobile-lg.png");*/
    background: #065B65;

    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background4 {
    /*background-image: url("img/feedreader-mobile-lg.png");*/
    background: #721244;

    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.img-circle {
    object-fit: cover;
    width: 175px;
    height: 150px;
    margin: 0 auto;
    margin-top: 5%;
}

.info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
}

.proj {
    background-color: #059EB2;

    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#city {
    background-image: url("img/nyc.jpg");

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.preview1 {
    background-image: url("img/contact-work.jpg");

    opacity: .8;

    /* Full height */
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-info {
    background-color: #fff;
    opacity: .7;

    text-align: center;
    /*width: 50%;*/
    margin: 0 auto;
    padding: 20%;
    margin-top: 5%;
}

/*for laptop screens*/
@media only screen and (min-width: 992px) {
    .proj {
        height: 100%;
    }

    .projects-title {
        top: 40%;
        right: 0;
        left: -50%;
        margin: 0 auto;
    }

    .name, .occupation {

        width: 50%;
        font-size: 60px;
    }
    .occupation {
        font-size: 25px;
    }

    .contact-info {
        margin-top: 10%;
        width: 50%;
        padding: 0;
    }

    .img-circle {
        width: 275px;
        height: 250px;
        margin-top: 10%;
    }
}

/*    TODO: change
        top: 40%;
    right: 0;
    left: 0;
    margin: 5% auto;

    to center when on big screens*/