body, html {
    box-sizing: border-box;
}

body, .container-fluid {
    position: relative;
}

body, html {
    height: 100%;
    width: 100%;
    color: #000;
    font-family: 'Dosis', sans-serif;
}

h3, .header, .occupation {
    font-family: 'Bad Script', cursive;
}

/*remove left and right padding coming from bootstrap*/
.col-xs-12 {
    padding: 0;
}

.welcome-wrapper, .about-wrapper {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
/*---------------------nav bar-------------------------------------------*/
nav {
    color: #fff;
    text-align: center;
    background-color: black;
    opacity: .6;
}

/*highlight link*/
.active {
    background-color: red;
}

nav > ul {
    padding-left: 0;
    margin: 2%;
}

ul li {
    display: inline;
    font-size: 20px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar {
    text-align: center;
    min-height: 0;
}

/*identify burger icon*/
/*TODO: default mini menu*/
.icon-bar {
    background-color: purple;
}
/*-------------------Welcome Section----------------------------------*/
.welcome-wrapper {
    justify-content: center;
    flex-direction: column;
}

/*nyc background image*/
.parallax-background {
    background-image: url('img/nyc.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header, .occupation {
    width: 100%;
    font-size: 50px;
    color: #fff;
    background-color: black;
    text-align: center;
    opacity: .6;
}
/*different size for occupation - smaller*/
.occupation {
    font-size: 25px;
}
/*-------------------About Section----------------------------------*/
.about-wrapper {
    flex-direction: row;
    align-content: flex-start;
    text-align: center;
}

.img-circle {
    object-fit: cover;
    width: 175px;
    height: 150px;
    margin: 0 auto;
    margin-top: 5%;
}

.gradient-background {
    background: turquoise; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,rgba(6,91,101,0.9), rgba(114,18,68,0.9)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(6,91,101,0.9), rgba(114,18,68,0.9)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(6,91,101,0.9), rgba(114,18,68,0.9)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(6,91,101,0.9), rgba(114,18,68,0.9)); /*Standard*/

    opacity: .9;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*----------------------Projects Section-------------------------------------*/
.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.fixed-title {
    position: fixed;
    top: 40%;
    right: 0;
    left: 0;
    margin: 5% auto;
    display: none;
}

.project-background {
    background-color: #059EB2;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: .8;
}

.background1 {
    background: #065B65;

    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background2 {
    background: #721244;

    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-adjust {
    margin: 0 auto;
    height: 25%;
}

.projects {
    padding: 5%;
    color: #B19C02;
    text-align: center;
    overflow: auto;
    font-size: 18px;
}

.left-project-height {
    height: 100vh;
}
/*-------------------------contact section---------------------------------*/
.preview1 {
    background-image: url("img/contact-work.jpg");
    opacity: .8;
    /* Full height */
    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-info {
    background-color: #fff;
    opacity: .7;
    text-align: center;
    margin: 0 auto;
    padding: 20%;
    margin-top: 5%;
}
/*-------------------------media queries section---------------------------------*/
@media only screen and (min-width: 767px) {
    .navbar {
        padding: 0;
    }
    nav > ul {
        margin: 1%;
    }
}

/*for laptop screens*/
@media only screen and (min-width: 992px) {
    .header, .occupation {
        width: 50%;
        font-size: 60px;
    }
    .occupation {
        font-size: 25px;
    }

    .fixed-title {
        top: 40%;
        right: 0;
        left: -50%;
        margin: 0 auto;
    }

    .img-circle {
        width: 275px;
        height: 250px;
        margin-top: 10%;
    }

    .contact-info {
        margin-top: 10%;
        width: 50%;
        padding: 0;
    }
}